/* General Page Styles */
html {
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 800px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 800px;
	background: #1D1D29;

}

h1 {
	font-size:14pt;
	font-weight: 700;
}


p {
	font-size: 10pt;
}

a {

	color: #383732;
	font-weight: 700;
	text-decoration: none;
	-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;
}

a:hover {
	color: #FF6766;
	text-decoration: none;
	-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;

}

a:hover .i {
	color: #FF6766;
	text-decoration: none;
	-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;

}

a .i {
	color: #383732;
	text-decoration: none;
	-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;
}

li {
	margin: 0px;
}


/* Table styling */
table {
	width: 80%;	
	font-size: 10pt;
	margin: 10px;
	border-collapse: collapse;

}

th {
	text-align: center;
	background-color: #f2f2f2;
	border-bottom: 2px solid #4b4b4b;
	padding: 5px;
}


tr {
	border-bottom: 1px solid #2b2b2b;
	-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;

}

tr:hover {
	background-color: #f2f2f2;
	border-bottom: 1px solid #2b2b2b;
	-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;

}


td {
	padding: 5px 10px;
	max-width: 1000px;

}

/* Page centering */ 
#wrap {
	min-width: 475px;
	max-width: 800px;
	margin:  auto;
	border: 1px solid  black;
	border-radius: 10px;

	}

/* Major div styling */
#header {
	height: auto;
	width: 100%;
	min-width: 400px;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;
	background-attachment: center; 
	position: static;
	color: #FFFFFF;
	border-bottom: 3px solid #9E373B;
	text-shadow: 0 0 20px #000000;
}


#header h1{
	font-family: 'Fira Sans', Arial, sans-serif;
	font-variant: small-caps;
	font-weight: 500;
	font-size: 40pt;
	padding: 1em 0.5em;
	margin: auto;
/*	overflow: hidden;*/
	text-align: bottom;
	text-shadow: 0 0 20px #000000;
}


#header img{
	height: 30px;
	padding-top: 1%;
}

#navbar {
	background-color: #1D1D29;
	font: small "Open Sans", Arial, sans-serif;
	font-size: 10pt;
	position: absolute;
	left: 0px;
	width: 140px;
	height: 100%;
	z-index: 100;
	
}

#navbar li{
	position: left;
	list-style-type: none;	
	padding: 0.5em;
}

#navbar li.current{
	color: #FF6766;
}

#navbar li.last{
	border-bottom: 1px solid #4b4b4b;
}

#navbar a:hover{
	color: #FF6766;
}

#navbar a {
	font-weight: 400;
	color: #FFFFF7;
}

#footer {
	background-color: #1D1D29;
	position:absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;	
	color: gray;
	height: auto;
	text-align: center;
}
  
#footer p{
	font-size: 10pt;
	margin: auto;
	text-align: center;	
	color: gray;
}

#footer a {
	color: gray;
}

#footer a:hover {
	color: #FF6766;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;

}

#banner {
	position: relative;
	left: 140px;	
	top: auto;
	margin-bottom: -20px;
	background-color: #1D1D29;
	width: 100%;
	height: 50px;
	padding: 15px 10px;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 18pt;

}

#content {
	background-image: url(images/ecoli_dna.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: top;
	background-color: #FFFFFF;
	position: relative;
	left: 0px;
	top: 0px;
	margin-left: 145px;
	margin-right: 10px;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 10px;
	border-radius: 10px;
	
}

#content p{
	font: "Open Sans", Arial, sans-serif;
	width: 80%;
	text-size: 12pt;
	text-align: justify;
	padding-left: 1.5em;
	padding-right: 150px;
	clear: both;

}

#content h1{
	font: "Open Sans", Arial, sans-serif; 
	padding: 0 0 0 7.5px;
}

#content h2{
	font-size: 12pt;
	margin: 0px 0 0px 7.5px;
	color: #9E373B;

}
#content hr{
	width: 95%;
	background-color: #9E373B;
	margin: -10px 0px -5px 7.5px;
	padding: -2px 0; 
	border: 1px solid #9E373B;
}

#file-links {
	font: "Open Sans", Arial, sans-serif;
/*	overflow: scroll; */
}

#file-links a{
	font-weight: 700;
}
#file-links li{
	padding: 0.75em 0 0 1.5em;
	margin: 0;
	text-size: 12pt;
	list-style-type: none;
	width: 80%;
	text-align: justify;
}
#file-links .i{
	font-weight: 700;
}
#im {   width: 275px;
	margin: 0;
	padding: 0;
	text-align: center;
	margin: 1em;
	display: inline-block;

}

#im img{
	border: 1px solid #000;
	height: 300px;
}

#im p {
	font-family: small "Courier", Arial, sans-serif;
	text-align: center;
}
#im h1{
	font-size: 12pt;
	text-align: center;
	margin-bottom: -0.10em;
}

#im h2{
	font-family: "Courier", Arial, sans-serif;
	text-size: 8pt;
	text-align: center;
}

